.secondSection {
  width: 100%;
  position: relative;
  padding-top: 56px;
}
.secondSection img {
  width: 100%;
  margin-top: 16px;
  border-radius: 6px;
}
ul {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #e36c3f;
}
li {
  position: relative;
  list-style: none;
  color: white;
}
:local(.line) {
  background: yellow;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.visible {
  opacity: 1;
}
.isFixed {
  position: fixed;
}
section {
  padding: 16px;
  scroll-margin: 56px;
}
h2 {
  color: white;
}
.btnWrapper {
  /* opacity: 0;
  transition: opactiy 0.3s; */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.btnWrapper img {
  width: 100px;
}
.btnWrapper button {
  color: white;
  background-color: #fb7299;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
}
